ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
	float: left;
    border-right:1px solid #bbb;

}
nav ul li {
	padding: 10px;
}
nav ul li a {
	display: block-inline;
	text-align: center;
    text-decoration: none;
    color: white;
}
nav ul :hover{
	background-color: green;
}
