*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.menu ul {
    background: #333;
    display: flex;
    list-style: none;
}

.menu ul ul {
    display: none;
}

.menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    background: green;
}

.menu ul li:hover ul {
    display: block;
    position: absolute;
}