<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no ,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="../view/css/menu.css">
	<link rel="stylesheet" type="text/css" href="../view/css/header.css">
	 <link rel="stylesheet" type="text/css" href="../view/css/novo-footer.css"> 
	<link rel="stylesheet" type="text/css" href="../view/css/textoIntro.css">
	<script src="../view/templates/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8" ></script>
	<script src="../view/templates/js/habilitar.js" type="text/javascript" charset="utf-8" ></script>
	<script src="../view/templates/js/main.js" type="text/javascript" charset="utf-8" ></script>
	{% block scripts %}{% endblock %}

	<title>Inicio</title>
</head>
<body>
	<div class="menu_bar">
		<a href="#" class="bt-menu"><img src="../view/img/icon-list.png" alt="menu" height="30" width="30"> Menú</a>
	</div>	
	<header><div class="titulo">Hospital DR. Ricardo Gutierrez</div>
	{% block nav %}
		{% if rol_user is defined %}
			{% include 'nav_'~rol_user~'.twig' %}			
	    {% else %}
	      	{% include 'nav_index.twig' %}
	    {% endif %}
	{% endblock %}
	</header>
	<div class="content">
	{% block content %} {% endblock%}
	</div>	
	{% block footer %}
	<footer>

           ©Proyecto de Software 2017 -Grupo 30.
          {{ now |date("d/m/Y") }}~<a href="information_hospital.php">Informacion</a>~
        
    </footer>
    {% endblock %}
	
</body>
</html>
