<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no ,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="../view/css/menu.css">
	<link rel="stylesheet" type="text/css" href="../view/css/header.css">
	 <link rel="stylesheet" type="text/css" href="../view/css/novo-footer.css"> 
	<link rel="stylesheet" type="text/css" href="../view/css/textoIntro.css">
	<script src="../view/templates/js/habilitar.js" type="text/javascript" charset="utf-8" ></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

	<title>Inicio</title>
</head>
<body>
	<header><h1>Hospital DR. Ricardo Gutierrez</h1></header>
	{% block nav %}
		{% if rol_user is defined %}
			{% include 'nav_'~rol_user~'.twig' %}			
	    {% else %}
	      	{% include 'nav_index.twig' %}
	    {% endif %}
	{% endblock %}

	{% block content %} {% endblock%}
	<div class="clearfix"></div>
	{% block footer %}
       <footer>©Proyecto de Software 2017 -Grupo 30.
          {{ now |date("d/m/Y") }}~<a href="information_hospital.php">Informacion</a>~</footer>
    {% endblock %}
	
</body>
</html>
