{% extends 'base.twig' %}
{% block content %}
	
	<h2>Lo sentimos, pero por el momento la pagina se encuentra en desarrollo y/o mantenimiento, sepa disculparnos. Atte: Hospital Dr Ricardo Gutierrez</h2>
	<img src="../view/img/working.png" alt="trabajando" style="margin-left: 40%;">
{% endblock %}