{% extends 'base.twig' %}

{% block content %}

<h3>Informacion Personal del Hospital</h3>

<div style="padding:10px;">
Email de Contacto: {{info['email']}}
</div>
<div style="padding:10px;">
Descripcion: {{info['descripcion']}}
</div>
	

{% endblock %}