{% extends 'base.twig' %}
{% block content %}
<div class="botonResponsive">
		<form id="searchformResponsive" action="primeraEntrega/busquedaPaciente.php">
			<input type="text" placeholder="Buscar..."/>
			<button>Ir</button>
		</form>
	</div>
	<br><br><br><br>


		 <div class="col-sm-4">
		 	<div class="non-relative">
		 	<label>El Hospital</label>
			<div class="textoIntro">
			Este centro de salud tiene un programa de residencia de primer nivel en el pais. Se ofrecen oportunidades de practica intensiva y supervisada en ambitos profesionales por la misma -por supuesto- se recibe un salario mensual, acorde a lo que la regulacion medica profesional lo indica en cada momento
			</div> 
			</div>

		</div>

		<div class="col-sm-4"> 
			<label>Guardia</label>
			<div class="textoIntro">
			Hospital DR. Ricardo Gutierrez de La Plata dispone de un sofisticado servicio de guardias medicas las 24 horas para la atencion de distintas urgencias. La administracion de la institucion hace viable una eficiente separacion de los pacientes segun el nivel de seriedad y tipo de patologia
			</div>
		</div>
		
		<div class="col-sm-4"> 
			<label>Especialidades</label>
			<div class="textoIntro">
			Acorde a una respetable trayectoria en materia de medicina y salud, en Hospital DR. Ricardo Gutierrez de La Plata podemos encontrar profesionales de las principales especialidades de salud. Del mismo modo, se brinda atencion programada y de urgencias, se realizan estudios medicos y se brinda soporte en muchas ramas comunes de la medicina moderna
			</div>
		</div>
<!-- 
	<div class="contenidoLista">
		<ul>
		<li>
			<form action="pagina1.php" method="post">
				<label> El Hospital </label>
				<div class="textoIntro">
				Este centro de salud tiene un programa de residencia de primer nivel en el pais. Se ofrecen oportunidades de practica intensiva y supervisada en ambitos profesionales por la misma -por supuesto- se recibe un salario mensual, acorde a lo que la regulacion medica profesional lo indica en cada momento
				</div>
			</form>
		</li>
		<li>
			<form action="pagina1.php" method="post">
				<label>Guardia</label>
				<div class="textoIntro">
				Hospital DR. Ricardo Gutierrez de La Plata dispone de un sofisticado servicio de guardias medicas las 24 horas para la atencion de distintas urgencias. La administracion de la institucion hace viable una eficiente separacion de los pacientes segun el nivel de seriedad y tipo de patologia
				</div>
			</form>
		</li>
		<li>
			<form action="pagina1.php" method="post">
				<label> Especialidades</label>
				<div class="textoIntro">
				Acorde a una respetable trayectoria en materia de medicina y salud, en Hospital DR. Ricardo Gutierrez de La Plata podemos encontrar profesionales de las principales especialidades de salud. Del mismo modo, se brinda atencion programada y de urgencias, se realizan estudios medicos y se brinda soporte en muchas ramas comunes de la medicina moderna
				</div>
			</form>
		</li>
	</ul>
</div> -->
{% endblock  %}
