{% extends 'base.html' %}
{% block content %}

    <form action="./usuarioAdmin.php">
        Usuario:
        <input name="user" pattern="[a-zA-Z]{4,15}$" placeholder="Ingrese el usuario" data-error="Ingresar usuario valido."
        type="text" required>
        Contraseña:
        <input name="pass" placeholder="Ingrese la contraseña" pattern="[a-z0-9A-Z]{6,12}$" data-error="Ingresar contraseña valida."
        type="password" required>
        <input name="submit" type="submit" value="Aceptar">
    </form>

{%endblock%}