<nav class="menu">
	<ul>
		<li><a href="../controller/">Inicio</a></li>
		<li class="submenu"><a>Pacientes</a>
			<ul>
				<li><a href="../controller/register_patient.php">Alta Paciente</a></li>
				<li><a href="../controller/list_patient.php">Listar Pacientes</a></li>
				<li><a href="../controller/search_patient.php">Buscar</a></li>
			</ul>
		</li>
		<li><a href="../controller/profile_user.php">Mi Perfil</a></li>
		<li><a href="../controller/logout.php" style="margin-left: 85%;">Cerrar Sesion</a></li>		
	</ul>
</nav>