<nav class="menu">
	<ul>
		<li><a href="../controller/">Inicio</a></li>
		<li class="submenu"><a>Pacientes <span class="caret"></span></a>
			<ul class="children">
				<li><a href="../controller/register_patient.php">Alta Paciente</a></li>
				<li><a href="../controller/list_patient.php">Listar Paciente</a></li>
				<li><a href="../controller/search_patient.php">Buscar</a></li>
			</ul>
		</li>
		<li class="submenu"><a>Usuarios<span class="caret"></span></a>
			<ul class="children">
				<li><a href="../controller/assingRoles_user.php">Roles</a></li>
				<li><a href="../controller/search_user.php">Busqueda</a></li>
				<li><a href="../controller/config_users.php">Listado</a></li>

			</ul>
		</li>
		<li><a href="../controller/config_hospital.php">Configuracion</a></li>
		<li><a href="../controller/profile_user.php">Mi Perfil</a></li>
		<li><a href="../controller/logout.php">Cerrar Sesion</a></li>
	</ul>
</nav>