<nav class="menu">
	<ul>
		<li><a href="../controller/">Inicio</a></li>
		<li class="submenu"><a>Pacientes</a>
			<ul>
				<li><a href="../controller/register_patient.php">Alta Paciente</a></li>
				<li><a href="../controller/list_patient.php">Listar Paciente</a></li>
			</ul>
		</li>
		<li><a href="../controller/profile_user.php">Mi Perfil</a></li>
	</ul>
</nav>