<nav class="menu">
		<ul>
			<li><a href="../controller/">Inicio</a></li>
			<li><a href="../controller/login.php">Iniciar Sesion</a></li>
			<li><a href="../controller/register.php">Registrarse</a></li>
		</ul>
</nav>