<nav class="menu">
	<ul>
		<li><a href="../controller/">Inicio</a></li>
		<li class="submenu"><a>Pacientes</a>
			<ul>
				<li><a href="../controller/register_patient.php">Alta Paciente</a></li>
				<li><a href="../controller/list_patient.php">Listar Paciente</a></li>
			</ul>
		</li>
		<li class="submenu"><a>Usuarios</a>
			<ul>
				<li><a href="../controller/assingRoles_user.php">Roles</a></li>
				<li><a href="#">Permisos</a></li>
				<li><a href="../controller/config_users.php">Listado</a></li>

			</ul>
		</li>
		<li><a href="../controller/config_hospital.php">Configuracion</a></li>
		<li><a href="../controller/profile_user.php">Mi Perfil</a></li>
		<li>
		<form id="searchform" action="primeraEntrega/busquedaPaciente.php">
			<input type="text" placeholder="Buscar..."/>
			<button>Ir</button>
		</form>
		</li>
		<li><a href="../controller/logout.php" style="margin-left: 73%;">Cerrar Sesion</a></li>
	</ul>
</nav>