{% extends 'base.twig'%}

{%block content%}

<p>Registrarse</p>
	<form action="../controller/register_user.php" method="POST">
		Nombre: <input type="text" name="name" placeholder="Ingrese el Nombre">
		Apellido: <input type="text" name="lastname" placeholder="Ingrese el Apellido">
		Usuario: <input type="text" name="user" pattern="[a-zA-Z]{4,15}$" placeholder="Ingrese el usuario">
		Contraseña: <input type="password" pattern="[a-z0-9A-Z]{6,12}$" name="pass" placeholder="Ingrese la contraseña">
		Email: <input type="email" name="email" placeholder="ejemplo@gmail.com">
		<input type="submit" name="submit" value="Aceptar">
	</form>

{%endblock%}