<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../css/menu.css">
	<link rel="stylesheet" type="text/css" href="../css/header.css">
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
</head>
<title>
           Mostrar Datos Demograficos
        </title>
<body>
<header><h1>Hospital DR. Ricardo Gutierrez</h1></header>
<nav class="menu">
    <ul>
      <li><a href="../index.php">Cerrar Sesion</a></li>
      <li class="submenu"><a>Pacientes</a>
        <ul>
          <li><a href="./pacienteRegistrar.php">Alta Paciente</a></li>
          <li><a href="./pacienteListar.php">Listar Paciente</a></li>
        </ul>
      </li>
      <li class="submenu"><a>Usuarios</a>
        <ul>
          <li><a href="./registrarse.php">Registrar</a></li>
          <li><a href="#">Roles</a></li>
          <li><a href="#">Permisos</a></li>
          <li><a href="./usuarioListar.php">Listar Usuarios</a></li>
          <li><a href="#">Configuracion</a></li>

        </ul>
      </li>
      <li>
      <form id="searchform" action="primeraEntrega/busquedaPaciente.php">
        <input type="text" placeholder="Buscar..."/>
        <button>Ir</button>
      </form>
      </li>
    </ul>
  </nav>>
    <div class="row">
 <div class="col-sm-2"> </div>
 <div class="container">

    <p> Mostrar Datos Demograficos</p>
      <table class="table table-hover">
    <thead>
      <tr>
        <th>Paciente</th>
        <th>Heladera</th>
        <th>Electricidad</th>
        <th>Mascota</th>
        <th>Tipo de vivienda</th>
        <th>Tipo de calefaccion</th>
        <th>Tipo de agua</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Si</td>
        <td>Si</td>
        <td>Si</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
     <td><a href="./updateDatosDem.twig"><img src="../img/mas.png" alt="Listar" height="40" width="40"></a></td>
        <td><a href="#"><img src="../img/eliminar.png" alt="eliminar" height="40" width="40"></a></td>
         </tr>
      <tr>
         <td>Juan</td>
        <td>Si</td>
        <td>Si</td>
        <td>Si</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td><a href="./updateDatosDem.twig"><img src="../img/mas.png" alt="Listar" height="40" width="40"></a></td>
        <td><a href="#"><img src="../img/eliminar.png" alt="eliminar" height="40" width="40"></a></td>
      </tr>
      <tr>
         <td>Juana</td>
        <td>Si</td>
        <td>Si</td>
        <td>Si</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td><a href="./updateDatosDem.twig"><img src="../img/mas.png" alt="Listar" height="40" width="40"></a></td>
        <td><a href="#"><img src="../img/eliminar.png" alt="eliminar" height="40" width="40"></a></td>
      </tr>
    </tbody>
  </table>
</div>
  	
  	
	<footer class="footer">Proyecto de Software 2017 - Hospital Dr. Ricardo Gutierrez</footer>
	
</body>