table {
	margin: auto;
	width: 50%;
	text-align: center;
	padding-top: 30px;
}

th, td {
    text-align: left;
    padding: 8px;
}

table th {
    background-color: #4CAF50;
    color: white;
}
tr td {
	text-align: center;
}