nav ul form input{
	height: 35px;
}
nav ul form button{
	background-color: #4CAF50;

}
@media(max-width: 500px){
nav ul form input{
	height: 35px;
	width: 100px;
}
nav ul form button{
	height: 35px;
	background-color: #4CAF50;

}
}
@media(max-width: 400px){

nav ul form input{
	display: none;
}
nav ul form button{
	display: none;

}
